@import './Loading-Spinner.scss';
@import './Controls.scss';
@import './colors.scss';

// #9499ff
// sed -i 's/#06f990/#06f990/g' *

#root {
  height: 100%;
  width: 100%;
  user-select: none;
  font-size: $text-body-font-size;
  background-color: $background;
  flex: 1;
  min-height: 0;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;

  &.sidebar-visible {
    grid-template-columns: auto 1fr;
  }
}

@media (max-width: 768px) {
  #root {
    display: flex;
    flex-direction: column;
  }
}

.secondary-text {
  opacity: .75;
}

div.routing-contents {
  flex: 1;
  padding: 1rem;
  display: flex;
  position: relative;
}

div.script-list-container {
  height: 100%;
  position: relative;

  div.meta-information {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-self: flex-end;
    
    span {
      font-size: 1.2rem;
      text-align: right;
    }

    div.spinner-container {
      display: flex;
      justify-content: flex-end;
      height: 3rem;
    }
  }


  div.script-list-empty-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    span {
      margin: 0 3rem;
      text-align: center;
    }
  }

  button.script-add {
    overflow: hidden;
    position: absolute;
    width: 5.5rem;
    aspect-ratio: 1;
    bottom: 2.4rem;
    right: 2.4rem;
    background-color: #06f990;
    color: #062e6c;
    border-radius: 2rem;
    box-shadow: 0 0 2px rgba(black, 0.5);
    border: none;
    z-index: 10;
    padding: 0;

    &::before {
      content: "\F6AD";
      font-family: bootstrap-icons !important;
      font-size: 2.5rem;
    }
  }
}

nav.side-menu {
  width: 30rem;
  background-color: $color-accent2;
  border-right: 0.15rem solid $color-accent1;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "content" "footer";
  // display: flex;
  // flex-direction: column;
  position: relative;
  overflow: never;
  overflow-y: auto;
  padding: 0 1rem;
  gap: 0.5rem;

  div.header {
    grid-area: header;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: sticky;
    background-color: inherit;
    border-bottom: 0.15rem solid $color-accent1;
    touch-action: none;

    div.top-line {
      height: 6rem;
      display: flex;
      justify-content: flex-end;
      padding: 1rem 0;

      button.close {
        background-color: inherit;
        outline: none;
        border: none;
        font-size: 2.5rem;
        padding: 0;
      }
    }
  }

  a.list-element, span.list-element {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    text-overflow: ellipsis;
    color: inherit;
    font-weight: inherit;
    text-decoration: none;

    &:not(.static):hover {
      background-color: $color-accent1;
    }

    &.current {
      background-color: $background;
    }
  }

  div.footer {
    grid-area: footer;
    touch-action: none;
    i {
      font-size: 3rem;
    }
    position: sticky;
    height: 6rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: inherit;
    border-top: 0.15rem solid $color-accent1;
  }
}

@media (max-width: 768px) {
  nav.side-menu {
    flex: 1;
  }
}

div.script-overview {
  flex: 1;
  display: flex;
  flex-direction: column;

  a.division-info {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
    position: relative;
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr auto auto;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: calc(100% - 2rem);
      left: 50%;
      transform: translateX(-50%);

      border-bottom: 0.15rem solid $lighter1;
    }

    div.general-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      span.info {
        color: $lighter1;
        font-size: 1.4rem;
      }
    }
  }
}

div.division-overview {
  background-color: #1f1f1f;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 112;
  animation: 275ms zoom-big ease-out;
  box-shadow: 0 0 1px 5px rgba(black, 0.3);

  div.content {
    animation: 75ms fade-in ease-out;
    animation-delay: 200ms;
    display: flex;
    flex-direction: column;

    div.simple-header {
      position: sticky;
      top: 0;
      height: 5rem;
      padding: 0.3rem 1rem;
      color: #e3e3e3 !important;
    }
    
    div.grid-view {
      padding: 1.5rem;
      display: flex;
      flex-wrap: wrap;
      max-height: calc(100svh - 5rem);
      overflow-x: hidden;
      overflow-y: auto;
      justify-content: space-between;
      gap: 2rem;

      div.item {
        margin: 0;
        position: relative;
        width: calc(50% - 1rem);
        padding: 1.5rem;
        position: relative;
        margin-top: 2.5rem;

        &::before {
          content: "";
          position: absolute;
          top: 0.5rem;
          left: 0.5rem;
          right: 0.5rem;
          bottom: 0.5rem;
          outline: 0.5rem solid var(--border-color, #0d1117);
          border-radius: 1.5rem;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          background-color: rgba(white, 0.03);
        }

        &.current {
          --border-color: #06f990;
          h3 {
            background-color: #06f990;
            color: #062e6c;
          }
        }

        h3 {
          margin: 0;
          font-size: 1.5rem;
          font-weight: 500;
          position: absolute;
          display: block;
          width: 100%;
          height: 3rem;
          border-top-left-radius: 1.5rem;
          border-top-right-radius: 1.5rem;
          top: -2.5rem;
          left: 0rem;
          background-color: #0d1117;
          line-height: 3rem;
          padding: 0 1rem;
          font-weight: 800;

          &::before, &::after {
            content: "";
            position: absolute;
            top: 3rem;
            width: 0.5rem;
            height: 1rem;
            background-color: var(--border-color, #0d1117);
          }

          &::before {
            left: 0;
          }
          &::after {
            right: 0;
          }
        }

        div.elements {
          display: flex;
          justify-content: space-evenly;
          gap: 0.5rem;  

          span.icon-element {
            background-color: transparent;
            font-size: 1.5rem;
            // min-width: unset;
          }
        }
      }
    }
  }
}
$size: 5.5rem;
span.icon-element {
  height: $size;
  min-width: $size;
  background-color: #44474e;
  border-radius: $size;
  position: relative;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 800;
  z-index: 1;
  color: #44474e;

  &.stylish-text {
    color: #f9f871;
    // color: #37EDF9;
    line-height: calc($size*(5/6));
    text-shadow: rgba(black, 0.8) 0 0 5px;
  }
// #37EDF9
  div.select-container {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 0.5rem;
    height: 100%;
    position: relative;

    & > svg:first-child, & > svg:last-child {
      z-index: 0;
    }
    & > svg:nth-child(2), & > svg:nth-last-child(2) {
      z-index: 1;
    }
    & > svg:nth-child(3) {
      z-index: 2;
    }
  }

  &::before {
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0;
    bottom: 0;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    font-size: calc($size * (2/3));
    text-align: center;
    // vertical-align: -0.125em;
    z-index: -1;
    line-height: $size;
  }

  &.bulb {
    &::before {
      content: "\F468";
      color: #f9f871;
    }
    line-height: calc($size*(5/6));
  }

  &.chat {
    &::before {
      content: "\F24B";
      color: #5df9d0;
    }
    line-height: $size;
  }

  canvas {
    position: absolute;
  }

  svg {
    &.circle { 
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      height: $size * 1.1;
      width: $size * 1.1;
      scale: 1 -1;
      translate: -100% -100%;
      rotate: -90deg;
      circle {
        transition: stroke-dashoffset 250ms linear;
      }
    }
    width: calc($size * (2/3));
    height: calc($size * (2/3));
  }
}


div.vertical-view {
  background-color: #1f1f1f;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 112;
  animation: 275ms slide-from-right ease-out;

  div.content {
    display: grid;
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 6rem 1fr;
    grid-template-areas: "header header"
      "balls quote";

    div.simple-header {
      height: 5rem;
      padding: 0.3rem 1rem;
      color: #e3e3e3 !important;
      grid-area: header;
    }

    div.balls {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      height: calc(100svh - 5rem);
      justify-content: space-between;
      grid-area: balls;

      touch-action: none;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      span.ball {
        height: calc(7px * var(--ball-scale-factor, 1));
        width: calc(7px * var(--ball-scale-factor, 1));
        background-color: rgba(white, 0.5);
        border-radius: 50%;
        $cccalc: calc((var(--ball-scale-factor, 1) - 1) / 3);
        margin: calc(0.75px * (var(--ball-scale-factor, 1) - 1)) calc(15px * $cccalc*$cccalc*$cccalc);
        position: relative;

        &.highlighted {
          background-color: #06f990;
        }
      }
    }

    div.current-quote-container {
      grid-area: quote;

      div.current-quote {
        opacity: 1;
        pointer-events: unset;
      }
    }
  }
}

b.yellow { color: #f9f871; }
b.blue { color: #06f990; }

@keyframes zoom-big {
  from {
    top: 50%;
    height: 0;
  }
  to {
    height: 100%;
  }
}

@property --ball-scale-factor {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

div.confidence-selector {
  display: flex;
  justify-content: center;

  span.icon-element {
    box-shadow: 0 0 1px rgba(black, 0.3);
  }
}

span.flying-icon {
  display: block;
  position: fixed;
  font-size: 1.4rem;
  font-weight: 500;
}

span.score-ripple-bubble {
  width: 100vw;
  border-radius: 50%;
  animation: fade-and-grow2 250ms ease-out forwards;
  aspect-ratio: 1;
  display: block;
  position: fixed;
  opacity: 0.2;
  background-color: var(--bubble-color);
  z-index: 5;
}

h2.flying-score {
  @extend .roboto-b900;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.6rem;
}

div.script-view {
  flex: 1;
  // display: grid;
  // grid-template-rows: 3.5rem 1fr 2rem 2rem 5.5rem 1rem;

  &.free-scrolling {
    div.quote-wrapper {
      opacity: 1 !important;
    }
  }

  span.content {
    white-space: pre-wrap;
    position: relative;
  }

  span.sticky-division {
    display: none;
    &.visible {
      display: block;
    }
    position: fixed;
    top: 6rem;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0.5rem 0;
    background-color: $color-accent1;
    border-bottom: 1px solid $lighter1;
    z-index: 1000;
    font-weight: 500;
  }

  $scroll-padding: 25rem;
  div.division-preamble {
    height: calc(100svh - (8rem + $scroll-padding));
    padding-bottom: 2.5rem;

    &::before {
      content: "";
      // height: 30%;
      display: block;
      flex: 1;
    }

    h2 {
      margin: 0;
      text-align: center;
      padding: 1rem 0;
      background-color: $background;
    }

    div.division-info-wrapper {
      display: flex;
      justify-content: center;

      div.division-info {
        padding: 1rem;
        max-width: 85%;
        background-color: $color-accent1;
        border-radius: 1rem;
        font-size: 1.6rem;
        gap: 0.25rem;

        display: flex;
        flex-direction: column;
        overflow: hidden;

        span.info {
          font-size: 1.4rem;
          color: $lighter2;
          text-align: center;
        }


        span.content {
          text-align: justify;
        }
      }
    }
  }

  div.division-training-end {
    height: calc(100svh - $scroll-padding);
    display: flex;
    flex-direction: column;
    align-items: center;

    div.scorebox {
      @extend .roboto-b900;
      // text-align: center;
      font-size: 16rem;
      letter-spacing: 0rem;
      color: var(--score-color);
      position: relative;

      &.hidden {
        visibility: hidden;
      }

      &::after {
        // position: relative;
        content: "/" var(--max-score, "undefined");
        font-size: 4rem;
        color: #e3e3e3;
        bottom: 100%;
      }
    }
  }

  div.division-preamble, div.main-content {
    // padding: 0 1.5rem;
    display: flex;
    flex-direction: column;

    div.quote-wrapper {
      display: flex;
      position: relative;
      flex-direction: column;
      gap: 1rem;

      i.bi {
        font-size: 3rem;
        height: 3rem;
        aspect-ratio: 1;
        margin-left: 1rem;
        align-self: center;
        background-color: rgba(white, 0.3);
        border-radius: 50%;
      }

      &:has(div.response) {
        align-items: flex-end;
      }
      &:not(:has(div.last)) {
          opacity: 0.3;
      }

      span.bubble-handle {
        position: absolute;
        display: block;
        width: 8px;
        height: 13px;
        z-index: 100;
      }

      div.quote {
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        padding: 1rem;
        max-width: 85%;
        background-color: $color-accent1;
        border-radius: 1rem;

        &.request {
          border-top-left-radius: 0;
        }

        &.response {
          border-top-right-radius: 0;
        }

        h3 {
          margin: 0;
          font-size: 1.4rem;
          font-weight: 800;
        }

      }
      
      div.confidence-rating {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        font-size: 1.4rem;

        $size: 2.5rem;
        span.smiley {
          background-color: $lighter1;
          width: $size;
          height: $size;
          border-radius: $size;
        }
      }
    }
  }

  div.main-content {
    justify-content: center;
    gap: 2.5rem;
  }

  div.scroll-padding {
    height: $scroll-padding;
  }


  $motion-bezier: cubic-bezier(.2, 1, .3, 1);

  div.controls {
    z-index: 1000;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    // height: 3rem;
    background-color: rgba($background, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    z-index: 1;

    div.horizontal {
      display: flex;
      width: 100%;
      gap: 1rem;
      align-items: center;
    }

    h2.score {
      @extend .roboto-b900;
      z-index: 10;
    }

    $progress-bar-color: var(--progress-color);
    div.progress {
      background-color: $lighter1;
      height: 1.6rem;
      border-radius: 1.6rem;
      flex: 1;

      &.glow .inner {
        box-shadow: 0px 0px 0.5rem 0.1rem $progress-bar-color;
      }

      .inner {
        height: 1.6rem;
        border-radius: 1.6rem;
        transition: background-color .25s $motion-bezier,
          width .25s $motion-bezier,
          box-shadow .25s $motion-bezier;
        background-color: $progress-bar-color;
        width: calc(var(--progress-width) * 100%);
      }
    }
  }
}

a {
  color: #06f990;
  font-weight: 500;
}

.card-class {
  margin: 1rem;
  background-color: #28282a;
  border-radius: 1rem;
  box-shadow: 0 0 1px rgba(black, 0.3);
  overflow: hidden;
}

.card-item {
  padding: 1rem;
  background-color: #28282a;
  &:not(:last-child) {
    margin-bottom: 0.2rem;
  }
}

div.overflow-wrapper {
  font-size: 1.6rem;
  
  b {
    display: block;
    text-align: center;
  }
}

div.routing-contents:has(form.auth-box) {
  display: grid;

  span.error-message {
    text-align: left;
    color: red;
    display: none;

    &::before {
      display: inline-block;
      font-family: bootstrap-icons !important;
      font-style: normal;
      font-weight: normal !important;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      vertical-align: -.125em;
      content: "\f332";
      margin-right: 0.5rem;
    }
  }

  form.auth-box {
    justify-self: center;
    align-self: center;
    background-color: white;
    padding: 9rem 3rem 3rem 3rem;
    border-radius: 3rem;
    gap: 3rem;
    background-color: $color-accent1;
    width: 50rem;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    text-align: center;

    &:not(.interactable)::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(black, 0.3);
      z-index: 100;
    }
    
    input {
      padding: 1.5rem 2rem;
      font-size: 1.6rem;
      border: 0.1rem solid $lighter1;
      border-radius: 0.5rem;
      background-color: inherit;
      outline: 0;

      &:focus {
        border: 0.1rem solid $lighter2;
      }
    }

    div.button-line {
      display: flex;
      align-self: flex-end;
    }

    div.input-box {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &:has(input.touched.invalid) span.error-message {
        display: inline;
      }
    }

    &.submitted div.input-box:has(input.invalid) span.error-message {
        display: inline;
    }

    &.error > span.error-message {
        display: inline;
    }
  }
}

@media (max-width: 768px) {
  div.routing-contents:has(form.auth-box) form.auth-box {
    width: 100%;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 2rem;
    gap: 2rem;
  }

}

div.clients-manager {
  div.top-card {
    @extend .card-class;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;

    img {
      aspect-ratio: 12/5;
    }

    span {
      display: block;
      text-align: center;
      padding: 0 2rem;
      font-size: 1.4rem;
    }

    button {
      font-size: 1.4rem;
    }
  }

  div.bottom-card {
    @extend .card-class;
    background-color: transparent;

    div.header {
      @extend .card-item;

      h3 {
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0.5rem 0;
      }

      span {
        display: block;
      }
    }

    div.list-item {
      @extend .card-item;
    }
  }
}

div#qr-code-scan-success {
  div.loading {
    height: 5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  div.client-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h1 {
      gap: 0.5rem;
      font-size: 2rem;
      margin: 0;
      font-weight: 500;
    }

    div.content {
      flex-direction: column;
      display: flex;
      gap: 1rem;

      h3 {
        i {
          font-size: 3rem;
        }
        display: flex;
        gap: 0.5rem;
        font-size: 1.6rem;
        margin: 0;
        font-weight: 600;
        align-items: center;
      }

      p {
        margin: 0;
      }
    }

    div.button-bar {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale-in {
  from {
    transform: scale(0.75);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.75);
    opacity: 0.5;
  }
}

@keyframes slide-to-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200%);
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade-and-grow {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

@keyframes fade-and-grow2 {
  from {
    scale: 0;
    opacity: 0.2;
  }
  to {
    scale: 1;
    opacity: 0;
  }
}
