@use "sass:color";

// $background: #111115;
$primary: #039d5b;

$background: #181818;
$color-accent1: color.adjust($background, $lightness: 5%);
$color-accent2: color.adjust($background, $lightness: -3%);
$lighter1: color.adjust($background, $lightness: 25%);
$lighter2: color.adjust($background, $lightness: 56.25%);
$lighter3: color.adjust($background, $lightness: 75%);

$inactive1: #9e9e9e; // color-mix(in hsl, $primary, #808080 80%);

$font-weights: 400, 800, 900;

$text-body-font-size: 1.6rem;

@each $weight in $font-weights {
  .roboto-b#{$weight} {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: #{$weight};
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
}
