
// $background: #111115;
$primary: #039d5b;

$background: #181818;
$color-accent1: lighten($background, 5%);
$color-accent2: darken($background, 3%);
$lighter1: lighten($background, 25%);
$lighter2: lighten($background, 56.25%);
$lighter3: lighten($background, 75%);

$inactive1: #9e9e9e; // color-mix(in hsl, $primary, #808080 80%);

$font-weights: 400, 800, 900;

@each $weight in $font-weights {
  .roboto-b#{$weight} {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: #{$weight};
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
}
