@use 'sass:color';
@use 'colors' as *;

.secondary-text {
    opacity: 0.75;
}

div.header-element {
    padding: 1rem;
    z-index: 10;
    border-bottom: 0.15rem solid $lighter1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($background, 0.5);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    height: 6rem;
    flex-shrink: 0;

    h1 {
        @extend .roboto-b800;
        font-size: 2rem;
        margin: 0;
        flex: 1;
        text-align: center;
    }

    button {
        position: fixed;
        height: calc(100% - 2rem);
        padding: 0;
        top: 1rem;
        left: 1rem;
        font-size: 2.5rem;

        aspect-ratio: 1;
        border-radius: 0.6rem;
        border: none;
        background: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button.header-icon-button {
    border: none;
    height: 4.4rem;
    width: 4.4rem;
    background: none;
    position: relative;
    padding: 0;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;

    i {
        font-size: 2.2rem;
    }
}

$text-body-font-size: 1.6rem;
div.ripple-effect-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    // pointer-events: none;

    span.ripple-bubble {
        border-radius: 50%;
        animation: fade-and-grow 300ms ease-out;
        aspect-ratio: 1;
        display: block;
        position: absolute;
        z-index: -1;
        opacity: var(--ripple-alpha, 0.2);
        background-color: var(--ripple-bubble-color, white);
    }
}

$button-size: 3.2rem;
button.primary-button {
    @extend .roboto-b800;
    padding: 0 2rem;
    background-color: $primary;
    border: 0.1rem solid color.adjust($primary, $lightness: 3%);
    min-height: $button-size;
    border-radius: 3.40282e38px;
    font-size: inherit;
    overflow: hidden;
    position: relative;
    z-index: 1;
    outline: none;
    cursor: pointer;

    &:active {
        background-color: color.adjust($primary, $lightness: 5%);
    }

    &:disabled {
        background-color: $inactive1;
        border: 0.1rem solid color.adjust($inactive1, $lightness: -3%);
        cursor: default;
    }
}

$button-size: 3.2rem;
button.red-button {
    @extend .roboto-b800;
    padding: 0 2rem;
    background-color: $red;
    border: 0.1rem solid color.adjust($red, $lightness: 3%);
    min-height: $button-size;
    border-radius: 3.40282e38px;
    font-size: inherit;
    overflow: hidden;
    position: relative;
    z-index: 1;
    outline: none;
    cursor: pointer;

    &:active {
        background-color: color.adjust($red, $lightness: 5%);
    }
}

button.secondary-button {
    @extend .roboto-b800;
    padding: 0 2rem;
    border: 0.1rem solid $lighter1;
    height: $button-size;
    border-radius: 3.40282e38px;
    font-size: inherit;
    overflow: hidden;
    position: relative;
    z-index: 1;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    background-color: rgba(white, 0.07);

    &:hover {
        background-color: $lighter1;
    }

    &:active {
        background-color: $color-accent1;
    }
}

input.small-input {
    padding: 0.5rem;
    font-size: 1.6rem;
    border: 0.1rem solid $lighter1;
    border-radius: 0.5rem;
    background-color: inherit;
    outline: none;

    &:focus {
        border: 0.1rem solid $primary;
    }
}

div.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

div.list-item {
    padding: 1rem;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    transition: background-color 100ms ease-out;

    &.selected {
        background-color: rgba(white, 0.05);
        span.icon-container::before {
            scale: 1;
        }
    }

    div.always-content {
        display: flex;
        gap: 1rem;
    }

    span.icon-container {
        width: 4.5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(white, 0.5);
        position: relative;

        &::before {
            $icon-container-size: 2rem;
            content: '\F26E';
            position: absolute;
            border-radius: 50%;
            right: 0;
            bottom: 0;
            height: $icon-container-size;
            line-height: $icon-container-size;
            aspect-ratio: 1;
            text-align: center;
            color: white;
            font-family: bootstrap-icons !important;
            background-color: #a8c8fb;
            z-index: 12;
            color: #1f1f1f;
            outline: 0.2rem solid #1f1f1f;
            font-size: 1.8rem;
            transition: scale 250ms ease-out;
            scale: 0;
        }

        i {
            @extend .secondary-text;
            font-size: 3rem;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-weight: 600;
            font-size: 1.6rem;
            margin: 0;
            display: inline-block;
        }

        span {
            @extend .secondary-text;
            display: block;
        }
    }
}

.common-dialog {
    display: flex;
    font-size: $text-body-font-size;
    margin: 0;
    outline: 0;
    user-select: none;
}

div#dialog-box {
    position: absolute;
    @extend .common-dialog;
    padding: 2rem;
    gap: 1rem;
    flex-direction: column;
    background-color: $color-accent1;
    border-radius: 2rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 62rem;
    border: none;
    box-shadow: 0 0 16px rgba(black, 0.3);
    overflow: hidden;
    z-index: 3001;

    button.close {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}

@media (max-width: 768px) {
    div#dialog-box {
        width: calc(100svw - 2rem);
    }
}

div#modal-dialog-backdrop {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3000;

    background-color: rgba(black, 0.5);
    backdrop-filter: blur(1px);
}

div#floating-menu {
    @extend .common-dialog;
    animation: swoop-in-ltr 200ms ease-in;
    position: absolute;
    z-index: 2001;

    top: 0;
    left: 0;
    height: 100svh;
    width: 75%;

    &.removing {
        animation: swoop-out-rtl 200ms ease-in forwards;
    }
}

div#floating-menu-backdrop {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(black, 0.3);
    z-index: 2000;
    animation: fade-in 200ms ease-in;

    &:has(+ div#floating-menu.removing) {
        animation: fade-out 200ms ease-in forwards;
    }
}

@keyframes swoop-in-ltr {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes swoop-out-rtl {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

dialog#bottom-sheet {
    background-color: #202127;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    display: grid;
    grid-template-rows: 2rem 1fr;
    font-size: $text-body-font-size;
    animation: move-in-fade 250ms ease-out;
    width: 100vw;
    max-height: none;
    max-width: none;
    margin: 0;
    bottom: 0;
    padding: 0;
    outline: 0;

    &::backdrop {
        background-color: rgba(black, 0.3);
    }

    &.fading-out {
        animation: fade-out 100ms linear forwards;
        &::backdrop {
            animation: fade-out 100ms linear forwards;
        }
    }

    &.removing {
        animation: move-out-fade 250ms ease-out forwards;
        &::backdrop {
            animation: fade-out 250ms linear forwards;
        }
    }

    span.sheet-handle {
        @extend .secondary-text;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &::after {
            content: '';
            height: 0.5rem;
            border-radius: 0.5rem;
            background-color: #e3e3e3;
            width: 5rem;
        }

        &::before {
            position: absolute;
            top: -50%;
            left: 0;
            content: '';
            box-sizing: content-box;
            width: 100%;
            height: 200%;
        }
    }

    div.sheet-content {
        padding: 1rem;
    }
}

@keyframes move-out-fade {
    from {
        translate: 0;
        opacity: 1;
    }
    to {
        translate: 0 75%;
        opacity: 0;
    }
}

@keyframes move-in-fade {
    from {
        translate: 0 75%;
        opacity: 0;
    }
    to {
        translate: 0;
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes zoom-in {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}
